<a href="https://colab.research.google.com/github/sp2005-im/Machine-Learning-Basics-Regression-And-Classification/blob/main/Appian%20x%20IIT-Madras%20Hackathon%20April%202025/Binary_Classification_Appian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SriRamaJayam
!unzip appian-x-iit-madras-hackathon-april-2025.zip

Archive:  appian-x-iit-madras-hackathon-april-2025.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/train.csv')

In [3]:
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Target
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635.0,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11.0,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426.0,...,4,0,0,0,0,0,0,3,11,1
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11.0,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173.0,...,5,0,0,0,0,0,0,3,11,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1567 non-null   int64
 1   Year_Birth           1567 non-null   int64
 2   Education            1567 non-null   object
 3   Marital_Status       1567 non-null   object
 4   Income               1550 non-null   float64
 5   Kidhome              1567 non-null   int64
 6   Teenhome             1567 non-null   int64
 7   Dt_Customer          1567 non-null   object
 8   Recency              1567 non-null   int64
 9   MntWines             1544 non-null   float64
 10  MntFruits            1567 non-null   int64
 11  MntMeatProducts      1561 non-null   float64
 12  MntFishProducts      1567 non-null   int64
 13  MntSweetProducts     1567 non-null   int64
 14  MntGoldProds         1555 non-null   float64
 15  NumDealsPurchases    1567 non-null   int64
 16  NumWebPurchases      1567 non-null   int64
 17  NumCatalogPurchases  1567 non-null   int64
 18  NumStorePurchases    1567 non-null   int64
 19  NumWebVisitsMonth    1567 non-null   int64
 20  AcceptedCmp3         1567 non-null   int64
 21  AcceptedCmp4         1567 non-null   int64
 22  AcceptedCmp5         1567 non-null   int64
 23  AcceptedCmp1         1567 non-null   int64
 24  AcceptedCmp2         1567 non-null   int64
 25  Complain             1567 non-null   int64
 26  Z_CostContact        1567 non-null   int64
 27  Z_Revenue            1567 non-null   int64
 28  Target               1567 non-null   int64
dtypes: float64(4), int64(22), object(3)
memory usage: 355.2+ KB

In [5]:
df = df.drop(['ID', 'Dt_Customer'], axis = 1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           1567 non-null   int64
 1   Education            1567 non-null   object
 2   Marital_Status       1567 non-null   object
 3   Income               1550 non-null   float64
 4   Kidhome              1567 non-null   int64
 5   Teenhome             1567 non-null   int64
 6   Recency              1567 non-null   int64
 7   MntWines             1544 non-null   float64
 8   MntFruits            1567 non-null   int64
 9   MntMeatProducts      1561 non-null   float64
 10  MntFishProducts      1567 non-null   int64
 11  MntSweetProducts     1567 non-null   int64
 12  MntGoldProds         1555 non-null   float64
 13  NumDealsPurchases    1567 non-null   int64
 14  NumWebPurchases      1567 non-null   int64
 15  NumCatalogPurchases  1567 non-null   int64
 16  NumStorePurchases    1567 non-null   int64
 17  NumWebVisitsMonth    1567 non-null   int64
 18  AcceptedCmp3         1567 non-null   int64
 19  AcceptedCmp4         1567 non-null   int64
 20  AcceptedCmp5         1567 non-null   int64
 21  AcceptedCmp1         1567 non-null   int64
 22  AcceptedCmp2         1567 non-null   int64
 23  Complain             1567 non-null   int64
 24  Z_CostContact        1567 non-null   int64
 25  Z_Revenue            1567 non-null   int64
 26  Target               1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [7]:
df['Age'] = 2025 - df['Year_Birth']
df = df.drop('Year_Birth', axis = 1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            1567 non-null   object
 1   Marital_Status       1567 non-null   object
 2   Income               1550 non-null   float64
 3   Kidhome              1567 non-null   int64
 4   Teenhome             1567 non-null   int64
 5   Recency              1567 non-null   int64
 6   MntWines             1544 non-null   float64
 7   MntFruits            1567 non-null   int64
 8   MntMeatProducts      1561 non-null   float64
 9   MntFishProducts      1567 non-null   int64
 10  MntSweetProducts     1567 non-null   int64
 11  MntGoldProds         1555 non-null   float64
 12  NumDealsPurchases    1567 non-null   int64
 13  NumWebPurchases      1567 non-null   int64
 14  NumCatalogPurchases  1567 non-null   int64
 15  NumStorePurchases    1567 non-null   int64
 16  NumWebVisitsMonth    1567 non-null   int64
 17  AcceptedCmp3         1567 non-null   int64
 18  AcceptedCmp4         1567 non-null   int64
 19  AcceptedCmp5         1567 non-null   int64
 20  AcceptedCmp1         1567 non-null   int64
 21  AcceptedCmp2         1567 non-null   int64
 22  Complain             1567 non-null   int64
 23  Z_CostContact        1567 non-null   int64
 24  Z_Revenue            1567 non-null   int64
 25  Target               1567 non-null   int64
 26  Age                  1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [11]:
df['Income'] = df['Income'].fillna(df['Income'].median())

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            1567 non-null   object
 1   Marital_Status       1567 non-null   object
 2   Income               1567 non-null   float64
 3   Kidhome              1567 non-null   int64
 4   Teenhome             1567 non-null   int64
 5   Recency              1567 non-null   int64
 6   MntWines             1544 non-null   float64
 7   MntFruits            1567 non-null   int64
 8   MntMeatProducts      1561 non-null   float64
 9   MntFishProducts      1567 non-null   int64
 10  MntSweetProducts     1567 non-null   int64
 11  MntGoldProds         1555 non-null   float64
 12  NumDealsPurchases    1567 non-null   int64
 13  NumWebPurchases      1567 non-null   int64
 14  NumCatalogPurchases  1567 non-null   int64
 15  NumStorePurchases    1567 non-null   int64
 16  NumWebVisitsMonth    1567 non-null   int64
 17  AcceptedCmp3         1567 non-null   int64
 18  AcceptedCmp4         1567 non-null   int64
 19  AcceptedCmp5         1567 non-null   int64
 20  AcceptedCmp1         1567 non-null   int64
 21  AcceptedCmp2         1567 non-null   int64
 22  Complain             1567 non-null   int64
 23  Z_CostContact        1567 non-null   int64
 24  Z_Revenue            1567 non-null   int64
 25  Target               1567 non-null   int64
 26  Age                  1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [13]:
df['MntWines'] = df['MntWines'].fillna(df['MntWines'].median())

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            1567 non-null   object
 1   Marital_Status       1567 non-null   object
 2   Income               1567 non-null   float64
 3   Kidhome              1567 non-null   int64
 4   Teenhome             1567 non-null   int64
 5   Recency              1567 non-null   int64
 6   MntWines             1567 non-null   float64
 7   MntFruits            1567 non-null   int64
 8   MntMeatProducts      1561 non-null   float64
 9   MntFishProducts      1567 non-null   int64
 10  MntSweetProducts     1567 non-null   int64
 11  MntGoldProds         1555 non-null   float64
 12  NumDealsPurchases    1567 non-null   int64
 13  NumWebPurchases      1567 non-null   int64
 14  NumCatalogPurchases  1567 non-null   int64
 15  NumStorePurchases    1567 non-null   int64
 16  NumWebVisitsMonth    1567 non-null   int64
 17  AcceptedCmp3         1567 non-null   int64
 18  AcceptedCmp4         1567 non-null   int64
 19  AcceptedCmp5         1567 non-null   int64
 20  AcceptedCmp1         1567 non-null   int64
 21  AcceptedCmp2         1567 non-null   int64
 22  Complain             1567 non-null   int64
 23  Z_CostContact        1567 non-null   int64
 24  Z_Revenue            1567 non-null   int64
 25  Target               1567 non-null   int64
 26  Age                  1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [15]:
df['MntMeatProducts'] = df['MntMeatProducts'].fillna(df['MntMeatProducts'].median())

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            1567 non-null   object
 1   Marital_Status       1567 non-null   object
 2   Income               1567 non-null   float64
 3   Kidhome              1567 non-null   int64
 4   Teenhome             1567 non-null   int64
 5   Recency              1567 non-null   int64
 6   MntWines             1567 non-null   float64
 7   MntFruits            1567 non-null   int64
 8   MntMeatProducts      1567 non-null   float64
 9   MntFishProducts      1567 non-null   int64
 10  MntSweetProducts     1567 non-null   int64
 11  MntGoldProds         1555 non-null   float64
 12  NumDealsPurchases    1567 non-null   int64
 13  NumWebPurchases      1567 non-null   int64
 14  NumCatalogPurchases  1567 non-null   int64
 15  NumStorePurchases    1567 non-null   int64
 16  NumWebVisitsMonth    1567 non-null   int64
 17  AcceptedCmp3         1567 non-null   int64
 18  AcceptedCmp4         1567 non-null   int64
 19  AcceptedCmp5         1567 non-null   int64
 20  AcceptedCmp1         1567 non-null   int64
 21  AcceptedCmp2         1567 non-null   int64
 22  Complain             1567 non-null   int64
 23  Z_CostContact        1567 non-null   int64
 24  Z_Revenue            1567 non-null   int64
 25  Target               1567 non-null   int64
 26  Age                  1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [17]:
df['MntGoldProds'] = df['MntGoldProds'].fillna(df['MntGoldProds'].median())

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            1567 non-null   object
 1   Marital_Status       1567 non-null   object
 2   Income               1567 non-null   float64
 3   Kidhome              1567 non-null   int64
 4   Teenhome             1567 non-null   int64
 5   Recency              1567 non-null   int64
 6   MntWines             1567 non-null   float64
 7   MntFruits            1567 non-null   int64
 8   MntMeatProducts      1567 non-null   float64
 9   MntFishProducts      1567 non-null   int64
 10  MntSweetProducts     1567 non-null   int64
 11  MntGoldProds         1567 non-null   float64
 12  NumDealsPurchases    1567 non-null   int64
 13  NumWebPurchases      1567 non-null   int64
 14  NumCatalogPurchases  1567 non-null   int64
 15  NumStorePurchases    1567 non-null   int64
 16  NumWebVisitsMonth    1567 non-null   int64
 17  AcceptedCmp3         1567 non-null   int64
 18  AcceptedCmp4         1567 non-null   int64
 19  AcceptedCmp5         1567 non-null   int64
 20  AcceptedCmp1         1567 non-null   int64
 21  AcceptedCmp2         1567 non-null   int64
 22  Complain             1567 non-null   int64
 23  Z_CostContact        1567 non-null   int64
 24  Z_Revenue            1567 non-null   int64
 25  Target               1567 non-null   int64
 26  Age                  1567 non-null   int64
dtypes: float64(4), int64(21), object(2)
memory usage: 330.7+ KB

In [19]:
df = pd.get_dummies(df, columns=['Education'], drop_first=True)
df = pd.get_dummies(df, columns=['Marital_Status'], drop_first=False)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   1567 non-null   float64
 1   Kidhome                  1567 non-null   int64
 2   Teenhome                 1567 non-null   int64
 3   Recency                  1567 non-null   int64
 4   MntWines                 1567 non-null   float64
 5   MntFruits                1567 non-null   int64
 6   MntMeatProducts          1567 non-null   float64
 7   MntFishProducts          1567 non-null   int64
 8   MntSweetProducts         1567 non-null   int64
 9   MntGoldProds             1567 non-null   float64
 10  NumDealsPurchases        1567 non-null   int64
 11  NumWebPurchases          1567 non-null   int64
 12  NumCatalogPurchases      1567 non-null   int64
 13  NumStorePurchases        1567 non-null   int64
 14  NumWebVisitsMonth        1567 non-null   int64
 15  AcceptedCmp3             1567 non-null   int64
 16  AcceptedCmp4             1567 non-null   int64
 17  AcceptedCmp5             1567 non-null   int64
 18  AcceptedCmp1             1567 non-null   int64
 19  AcceptedCmp2             1567 non-null   int64
 20  Complain                 1567 non-null   int64
 21  Z_CostContact            1567 non-null   int64
 22  Z_Revenue                1567 non-null   int64
 23  Target                   1567 non-null   int64
 24  Age                      1567 non-null   int64
 25  Education_Basic          1567 non-null   bool
 26  Education_Graduation     1567 non-null   bool
 27  Education_Master         1567 non-null   bool
 28  Education_PhD            1567 non-null   bool
 29  Marital_Status_Alone     1567 non-null   bool
 30  Marital_Status_Divorced  1567 non-null   bool
 31  Marital_Status_Married   1567 non-null   bool
 32  Marital_Status_Single    1567 non-null   bool
 33  Marital_Status_Together  1567 non-null   bool
 34  Marital_Status_Widow     1567 non-null   bool
dtypes: bool(10), float64(4), int64(21)
memory usage: 321.5 KB

In [21]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

In [22]:
# Select only numeric columns (excluding boolean + target)
num_cols = df.select_dtypes(include=['float64', 'int64']).drop('Target', axis=1).columns

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   1567 non-null   float64
 1   Kidhome                  1567 non-null   float64
 2   Teenhome                 1567 non-null   float64
 3   Recency                  1567 non-null   float64
 4   MntWines                 1567 non-null   float64
 5   MntFruits                1567 non-null   float64
 6   MntMeatProducts          1567 non-null   float64
 7   MntFishProducts          1567 non-null   float64
 8   MntSweetProducts         1567 non-null   float64
 9   MntGoldProds             1567 non-null   float64
 10  NumDealsPurchases        1567 non-null   float64
 11  NumWebPurchases          1567 non-null   float64
 12  NumCatalogPurchases      1567 non-null   float64
 13  NumStorePurchases        1567 non-null   float64
 14  NumWebVisitsMonth        1567 non-null   float64
 15  AcceptedCmp3             1567 non-null   float64
 16  AcceptedCmp4             1567 non-null   float64
 17  AcceptedCmp5             1567 non-null   float64
 18  AcceptedCmp1             1567 non-null   float64
 19  AcceptedCmp2             1567 non-null   float64
 20  Complain                 1567 non-null   float64
 21  Z_CostContact            1567 non-null   float64
 22  Z_Revenue                1567 non-null   float64
 23  Target                   1567 non-null   int64
 24  Age                      1567 non-null   float64
 25  Education_Basic          1567 non-null   bool
 26  Education_Graduation     1567 non-null   bool
 27  Education_Master         1567 non-null   bool
 28  Education_PhD            1567 non-null   bool
 29  Marital_Status_Alone     1567 non-null   bool
 30  Marital_Status_Divorced  1567 non-null   bool
 31  Marital_Status_Married   1567 non-null   bool
 32  Marital_Status_Single    1567 non-null   bool
 33  Marital_Status_Together  1567 non-null   bool
 34  Marital_Status_Widow     1567 non-null   bool
dtypes: bool(10), float64(24), int64(1)
memory usage: 321.5 KB

In [24]:
from sklearn.model_selection import train_test_split

X = df.drop('Target', axis=1)
y = df['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [70]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import BatchNormalization
nn_model = Sequential([
    Dense(256, input_dim=X_train.shape[1], activation='relu'),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

nn_model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.7329 - loss: 0.5576 - val_accuracy: 0.8088 - val_loss: 0.4105
Epoch 2/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8538 - loss: 0.3319 - val_accuracy: 0.7849 - val_loss: 0.4563
Epoch 3/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8516 - loss: 0.2940 - val_accuracy: 0.7888 - val_loss: 0.4288
Epoch 4/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8795 - loss: 0.2844 - val_accuracy: 0.7968 - val_loss: 0.4702
Epoch 5/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8741 - loss: 0.2665 - val_accuracy: 0.7968 - val_loss: 0.4780
Epoch 6/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9155 - loss: 0.2107 - val_accuracy: 0.7888 - val_loss: 0.4766
Epoch 7/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9118 - loss: 0.1914 - val_accuracy: 0.8048 - val_loss: 0.5467
Epoch 8/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9271 - loss: 0.1750 - val_accuracy: 0.7809 - val_loss: 0.5886
Epoch 9/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9267 - loss: 0.1584 - val_accuracy: 0.8008 - val_loss: 0.5923
Epoch 10/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9433 - loss: 0.1535 - val_accuracy: 0.7769 - val_loss: 0.5912
Epoch 11/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9433 - loss: 0.1390 - val_accuracy: 0.7888 - val_loss: 0.6853
Epoch 12/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9544 - loss: 0.1157 - val_accuracy: 0.7769 - val_loss: 0.6910
Epoch 13/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.9547 - loss: 0.1088 - val_accuracy: 0.7928 - val_loss: 0.7514
Epoch 14/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9772 - loss: 0.0868 - val_accuracy: 0.7769 - val_loss: 0.7672
Epoch 15/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9726 - loss: 0.0795 - val_accuracy: 0.7729 - val_loss: 0.7849
Epoch 16/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9674 - loss: 0.0756 - val_accuracy: 0.7849 - val_loss: 0.8690
Epoch 17/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9728 - loss: 0.0808 - val_accuracy: 0.7928 - val_loss: 0.8347
Epoch 18/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9605 - loss: 0.0883 - val_accuracy: 0.7928 - val_loss: 0.8627
Epoch 19/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9783 - loss: 0.0535 - val_accuracy: 0.7888 - val_loss: 0.9474
Epoch 20/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9827 - loss: 0.0471 - val_accuracy: 0.7689 - val_loss: 1.0681
Epoch 21/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9738 - loss: 0.0767 - val_accuracy: 0.7729 - val_loss: 1.0393
Epoch 22/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9779 - loss: 0.0620 - val_accuracy: 0.7689 - val_loss: 1.2352
Epoch 23/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9858 - loss: 0.0355 - val_accuracy: 0.7610 - val_loss: 1.3113
Epoch 24/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9731 - loss: 0.0673 - val_accuracy: 0.7649 - val_loss: 1.1701
Epoch 25/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9928 - loss: 0.0350 - val_accuracy: 0.7769 - val_loss: 1.2165
Epoch 26/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9848 - loss: 0.0342 - val_accuracy: 0.7689 - val_loss: 1.3389
Epoch 27/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9814 - loss: 0.0399 - val_accuracy: 0.7689 - val_loss: 1.1675
Epoch 28/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9787 - loss: 0.0378 - val_accuracy: 0.7849 - val_loss: 1.2770
Epoch 29/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9778 - loss: 0.0494 - val_accuracy: 0.7729 - val_loss: 1.1353
Epoch 30/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9785 - loss: 0.0463 - val_accuracy: 0.7809 - val_loss: 1.1282
Epoch 31/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9849 - loss: 0.0406 - val_accuracy: 0.7689 - val_loss: 1.2454
Epoch 32/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9849 - loss: 0.0238 - val_accuracy: 0.7849 - val_loss: 1.3271
Epoch 33/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9935 - loss: 0.0155 - val_accuracy: 0.7769 - val_loss: 1.3236
Epoch 34/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9879 - loss: 0.0247 - val_accuracy: 0.7809 - val_loss: 1.4103
Epoch 35/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.9856 - loss: 0.0248 - val_accuracy: 0.7769 - val_loss: 1.3543
Epoch 36/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9856 - loss: 0.0199 - val_accuracy: 0.7809 - val_loss: 1.4132
Epoch 37/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9879 - loss: 0.0194 - val_accuracy: 0.7809 - val_loss: 1.4376
Epoch 38/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.9899 - loss: 0.0171 - val_accuracy: 0.7729 - val_loss: 1.5146
Epoch 39/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9902 - loss: 0.0156 - val_accuracy: 0.7769 - val_loss: 1.5599
Epoch 40/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9864 - loss: 0.0159 - val_accuracy: 0.7769 - val_loss: 1.5890
Epoch 41/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9903 - loss: 0.0108 - val_accuracy: 0.7769 - val_loss: 1.6252
Epoch 42/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9822 - loss: 0.0185 - val_accuracy: 0.7769 - val_loss: 1.6396
Epoch 43/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9884 - loss: 0.0161 - val_accuracy: 0.7729 - val_loss: 1.5574
Epoch 44/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9890 - loss: 0.0130 - val_accuracy: 0.7769 - val_loss: 1.6047
Epoch 45/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9854 - loss: 0.0160 - val_accuracy: 0.7769 - val_loss: 1.6193
Epoch 46/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9879 - loss: 0.0174 - val_accuracy: 0.7769 - val_loss: 1.6738
Epoch 47/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9900 - loss: 0.0111 - val_accuracy: 0.7769 - val_loss: 1.6967
Epoch 48/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9888 - loss: 0.0166 - val_accuracy: 0.7769 - val_loss: 1.7284
Epoch 49/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9916 - loss: 0.0127 - val_accuracy: 0.7769 - val_loss: 1.6769
Epoch 50/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9902 - loss: 0.0114 - val_accuracy: 0.7769 - val_loss: 1.7183
Epoch 51/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9847 - loss: 0.0165 - val_accuracy: 0.7769 - val_loss: 1.7385
Epoch 52/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9954 - loss: 0.0109 - val_accuracy: 0.7769 - val_loss: 1.7793
Epoch 53/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9874 - loss: 0.0149 - val_accuracy: 0.7769 - val_loss: 1.7894
Epoch 54/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9952 - loss: 0.0079 - val_accuracy: 0.7769 - val_loss: 1.8281
Epoch 55/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9869 - loss: 0.0145 - val_accuracy: 0.7769 - val_loss: 1.7958
Epoch 56/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9894 - loss: 0.0129 - val_accuracy: 0.7769 - val_loss: 1.8341
Epoch 57/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9918 - loss: 0.0111 - val_accuracy: 0.7769 - val_loss: 1.8010
Epoch 58/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9817 - loss: 0.0163 - val_accuracy: 0.7769 - val_loss: 1.8539
Epoch 59/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9919 - loss: 0.0124 - val_accuracy: 0.7769 - val_loss: 1.8755
Epoch 60/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9951 - loss: 0.0109 - val_accuracy: 0.7769 - val_loss: 1.8994
Epoch 61/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9889 - loss: 0.0118 - val_accuracy: 0.7769 - val_loss: 1.8739
Epoch 62/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9847 - loss: 0.0175 - val_accuracy: 0.7769 - val_loss: 1.9022
Epoch 63/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9871 - loss: 0.0134 - val_accuracy: 0.7769 - val_loss: 1.8908
Epoch 64/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9840 - loss: 0.0162 - val_accuracy: 0.7769 - val_loss: 1.9229
Epoch 65/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9929 - loss: 0.0131 - val_accuracy: 0.7769 - val_loss: 1.9699
Epoch 66/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9856 - loss: 0.0179 - val_accuracy: 0.7769 - val_loss: 1.9693
Epoch 67/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9935 - loss: 0.0094 - val_accuracy: 0.7769 - val_loss: 1.9969
Epoch 68/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9848 - loss: 0.0174 - val_accuracy: 0.7769 - val_loss: 2.0385
Epoch 69/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9865 - loss: 0.0157 - val_accuracy: 0.7769 - val_loss: 2.0185
Epoch 70/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9910 - loss: 0.0148 - val_accuracy: 0.7729 - val_loss: 2.0526
Epoch 71/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9829 - loss: 0.0192 - val_accuracy: 0.7729 - val_loss: 2.1291
Epoch 72/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9554 - loss: 0.1159 - val_accuracy: 0.7490 - val_loss: 0.9186
Epoch 73/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9559 - loss: 0.1029 - val_accuracy: 0.7809 - val_loss: 1.0366
Epoch 74/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9781 - loss: 0.0561 - val_accuracy: 0.7689 - val_loss: 1.0435
Epoch 75/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9726 - loss: 0.0491 - val_accuracy: 0.7769 - val_loss: 1.3382
Epoch 76/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9823 - loss: 0.0473 - val_accuracy: 0.7729 - val_loss: 1.4191
Epoch 77/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9905 - loss: 0.0231 - val_accuracy: 0.7769 - val_loss: 1.5307
Epoch 78/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.9936 - loss: 0.0118 - val_accuracy: 0.7769 - val_loss: 1.6536
Epoch 79/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9883 - loss: 0.0188 - val_accuracy: 0.7769 - val_loss: 1.6690
Epoch 80/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9924 - loss: 0.0154 - val_accuracy: 0.7729 - val_loss: 1.7252
Epoch 81/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9923 - loss: 0.0159 - val_accuracy: 0.7649 - val_loss: 1.6384
Epoch 82/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.9932 - loss: 0.0161 - val_accuracy: 0.7649 - val_loss: 1.7887
Epoch 83/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9943 - loss: 0.0072 - val_accuracy: 0.7610 - val_loss: 1.8855
Epoch 84/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9895 - loss: 0.0116 - val_accuracy: 0.7649 - val_loss: 1.9288
Epoch 85/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9946 - loss: 0.0115 - val_accuracy: 0.7649 - val_loss: 1.9484
Epoch 86/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9868 - loss: 0.0187 - val_accuracy: 0.7649 - val_loss: 1.9920
Epoch 87/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9914 - loss: 0.0119 - val_accuracy: 0.7649 - val_loss: 2.0193
Epoch 88/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9906 - loss: 0.0138 - val_accuracy: 0.7649 - val_loss: 2.0528
Epoch 89/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9907 - loss: 0.0126 - val_accuracy: 0.7689 - val_loss: 2.0588
Epoch 90/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9874 - loss: 0.0129 - val_accuracy: 0.7689 - val_loss: 2.0740
Epoch 91/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9905 - loss: 0.0098 - val_accuracy: 0.7729 - val_loss: 2.0812
Epoch 92/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9948 - loss: 0.0118 - val_accuracy: 0.7649 - val_loss: 2.0931
Epoch 93/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9926 - loss: 0.0128 - val_accuracy: 0.7689 - val_loss: 2.1314
Epoch 94/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9880 - loss: 0.0145 - val_accuracy: 0.7689 - val_loss: 2.1289
Epoch 95/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9903 - loss: 0.0115 - val_accuracy: 0.7689 - val_loss: 2.1600
Epoch 96/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9816 - loss: 0.0196 - val_accuracy: 0.7649 - val_loss: 2.1924
Epoch 97/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.9901 - loss: 0.0152 - val_accuracy: 0.7689 - val_loss: 2.1946
Epoch 98/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9921 - loss: 0.0137 - val_accuracy: 0.7689 - val_loss: 2.1961
Epoch 99/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9936 - loss: 0.0088 - val_accuracy: 0.7689 - val_loss: 2.2237
Epoch 100/100
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9909 - loss: 0.0163 - val_accuracy: 0.7649 - val_loss: 2.2072

In [71]:
loss, accuracy = nn_model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy:.2f}")

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7810 - loss: 2.1100
Test Accuracy: 0.79

In [34]:
test_df = pd.read_csv('/content/test.csv')

In [35]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   673 non-null    int64
 1   Year_Birth           673 non-null    int64
 2   Education            673 non-null    object
 3   Marital_Status       673 non-null    object
 4   Income               666 non-null    float64
 5   Kidhome              673 non-null    int64
 6   Teenhome             673 non-null    int64
 7   Dt_Customer          673 non-null    object
 8   Recency              673 non-null    int64
 9   MntWines             661 non-null    float64
 10  MntFruits            673 non-null    int64
 11  MntMeatProducts      664 non-null    float64
 12  MntFishProducts      673 non-null    int64
 13  MntSweetProducts     673 non-null    int64
 14  MntGoldProds         666 non-null    float64
 15  NumDealsPurchases    673 non-null    int64
 16  NumWebPurchases      673 non-null    int64
 17  NumCatalogPurchases  673 non-null    int64
 18  NumStorePurchases    673 non-null    int64
 19  NumWebVisitsMonth    673 non-null    int64
 20  AcceptedCmp3         673 non-null    int64
 21  AcceptedCmp4         673 non-null    int64
 22  AcceptedCmp5         673 non-null    int64
 23  AcceptedCmp1         673 non-null    int64
 24  AcceptedCmp2         673 non-null    int64
 25  Complain             673 non-null    int64
 26  Z_CostContact        673 non-null    int64
 27  Z_Revenue            673 non-null    int64
dtypes: float64(4), int64(21), object(3)
memory usage: 147.3+ KB

In [36]:
test_df = test_df.drop('ID', axis = 1)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           673 non-null    int64
 1   Education            673 non-null    object
 2   Marital_Status       673 non-null    object
 3   Income               666 non-null    float64
 4   Kidhome              673 non-null    int64
 5   Teenhome             673 non-null    int64
 6   Dt_Customer          673 non-null    object
 7   Recency              673 non-null    int64
 8   MntWines             661 non-null    float64
 9   MntFruits            673 non-null    int64
 10  MntMeatProducts      664 non-null    float64
 11  MntFishProducts      673 non-null    int64
 12  MntSweetProducts     673 non-null    int64
 13  MntGoldProds         666 non-null    float64
 14  NumDealsPurchases    673 non-null    int64
 15  NumWebPurchases      673 non-null    int64
 16  NumCatalogPurchases  673 non-null    int64
 17  NumStorePurchases    673 non-null    int64
 18  NumWebVisitsMonth    673 non-null    int64
 19  AcceptedCmp3         673 non-null    int64
 20  AcceptedCmp4         673 non-null    int64
 21  AcceptedCmp5         673 non-null    int64
 22  AcceptedCmp1         673 non-null    int64
 23  AcceptedCmp2         673 non-null    int64
 24  Complain             673 non-null    int64
 25  Z_CostContact        673 non-null    int64
 26  Z_Revenue            673 non-null    int64
dtypes: float64(4), int64(20), object(3)
memory usage: 142.1+ KB

In [37]:
test_df['Age'] = 2025 - test_df['Year_Birth']

In [38]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           673 non-null    int64
 1   Education            673 non-null    object
 2   Marital_Status       673 non-null    object
 3   Income               666 non-null    float64
 4   Kidhome              673 non-null    int64
 5   Teenhome             673 non-null    int64
 6   Dt_Customer          673 non-null    object
 7   Recency              673 non-null    int64
 8   MntWines             661 non-null    float64
 9   MntFruits            673 non-null    int64
 10  MntMeatProducts      664 non-null    float64
 11  MntFishProducts      673 non-null    int64
 12  MntSweetProducts     673 non-null    int64
 13  MntGoldProds         666 non-null    float64
 14  NumDealsPurchases    673 non-null    int64
 15  NumWebPurchases      673 non-null    int64
 16  NumCatalogPurchases  673 non-null    int64
 17  NumStorePurchases    673 non-null    int64
 18  NumWebVisitsMonth    673 non-null    int64
 19  AcceptedCmp3         673 non-null    int64
 20  AcceptedCmp4         673 non-null    int64
 21  AcceptedCmp5         673 non-null    int64
 22  AcceptedCmp1         673 non-null    int64
 23  AcceptedCmp2         673 non-null    int64
 24  Complain             673 non-null    int64
 25  Z_CostContact        673 non-null    int64
 26  Z_Revenue            673 non-null    int64
 27  Age                  673 non-null    int64
dtypes: float64(4), int64(21), object(3)
memory usage: 147.3+ KB

In [39]:
test_df = test_df.drop('Year_Birth', axis = 1)

In [40]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            673 non-null    object
 1   Marital_Status       673 non-null    object
 2   Income               666 non-null    float64
 3   Kidhome              673 non-null    int64
 4   Teenhome             673 non-null    int64
 5   Dt_Customer          673 non-null    object
 6   Recency              673 non-null    int64
 7   MntWines             661 non-null    float64
 8   MntFruits            673 non-null    int64
 9   MntMeatProducts      664 non-null    float64
 10  MntFishProducts      673 non-null    int64
 11  MntSweetProducts     673 non-null    int64
 12  MntGoldProds         666 non-null    float64
 13  NumDealsPurchases    673 non-null    int64
 14  NumWebPurchases      673 non-null    int64
 15  NumCatalogPurchases  673 non-null    int64
 16  NumStorePurchases    673 non-null    int64
 17  NumWebVisitsMonth    673 non-null    int64
 18  AcceptedCmp3         673 non-null    int64
 19  AcceptedCmp4         673 non-null    int64
 20  AcceptedCmp5         673 non-null    int64
 21  AcceptedCmp1         673 non-null    int64
 22  AcceptedCmp2         673 non-null    int64
 23  Complain             673 non-null    int64
 24  Z_CostContact        673 non-null    int64
 25  Z_Revenue            673 non-null    int64
 26  Age                  673 non-null    int64
dtypes: float64(4), int64(20), object(3)
memory usage: 142.1+ KB

In [41]:
test_df['Income'] = test_df['Income'].fillna(test_df['Income'].median())

In [42]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            673 non-null    object
 1   Marital_Status       673 non-null    object
 2   Income               673 non-null    float64
 3   Kidhome              673 non-null    int64
 4   Teenhome             673 non-null    int64
 5   Dt_Customer          673 non-null    object
 6   Recency              673 non-null    int64
 7   MntWines             661 non-null    float64
 8   MntFruits            673 non-null    int64
 9   MntMeatProducts      664 non-null    float64
 10  MntFishProducts      673 non-null    int64
 11  MntSweetProducts     673 non-null    int64
 12  MntGoldProds         666 non-null    float64
 13  NumDealsPurchases    673 non-null    int64
 14  NumWebPurchases      673 non-null    int64
 15  NumCatalogPurchases  673 non-null    int64
 16  NumStorePurchases    673 non-null    int64
 17  NumWebVisitsMonth    673 non-null    int64
 18  AcceptedCmp3         673 non-null    int64
 19  AcceptedCmp4         673 non-null    int64
 20  AcceptedCmp5         673 non-null    int64
 21  AcceptedCmp1         673 non-null    int64
 22  AcceptedCmp2         673 non-null    int64
 23  Complain             673 non-null    int64
 24  Z_CostContact        673 non-null    int64
 25  Z_Revenue            673 non-null    int64
 26  Age                  673 non-null    int64
dtypes: float64(4), int64(20), object(3)
memory usage: 142.1+ KB

In [43]:
test_df['MntWines'] = test_df['MntWines'].fillna(test_df['MntWines'].median())
test_df['MntMeatProducts'] = test_df['MntMeatProducts'].fillna(test_df['MntMeatProducts'].median())
test_df['MntGoldProds'] = test_df['MntGoldProds'].fillna(test_df['MntGoldProds'].median())

In [44]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Education            673 non-null    object
 1   Marital_Status       673 non-null    object
 2   Income               673 non-null    float64
 3   Kidhome              673 non-null    int64
 4   Teenhome             673 non-null    int64
 5   Dt_Customer          673 non-null    object
 6   Recency              673 non-null    int64
 7   MntWines             673 non-null    float64
 8   MntFruits            673 non-null    int64
 9   MntMeatProducts      673 non-null    float64
 10  MntFishProducts      673 non-null    int64
 11  MntSweetProducts     673 non-null    int64
 12  MntGoldProds         673 non-null    float64
 13  NumDealsPurchases    673 non-null    int64
 14  NumWebPurchases      673 non-null    int64
 15  NumCatalogPurchases  673 non-null    int64
 16  NumStorePurchases    673 non-null    int64
 17  NumWebVisitsMonth    673 non-null    int64
 18  AcceptedCmp3         673 non-null    int64
 19  AcceptedCmp4         673 non-null    int64
 20  AcceptedCmp5         673 non-null    int64
 21  AcceptedCmp1         673 non-null    int64
 22  AcceptedCmp2         673 non-null    int64
 23  Complain             673 non-null    int64
 24  Z_CostContact        673 non-null    int64
 25  Z_Revenue            673 non-null    int64
 26  Age                  673 non-null    int64
dtypes: float64(4), int64(20), object(3)
memory usage: 142.1+ KB

In [45]:
test_df = pd.get_dummies(test_df, columns=['Education', 'Marital_Status'], drop_first=True)

In [46]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   673 non-null    float64
 1   Kidhome                  673 non-null    int64
 2   Teenhome                 673 non-null    int64
 3   Dt_Customer              673 non-null    object
 4   Recency                  673 non-null    int64
 5   MntWines                 673 non-null    float64
 6   MntFruits                673 non-null    int64
 7   MntMeatProducts          673 non-null    float64
 8   MntFishProducts          673 non-null    int64
 9   MntSweetProducts         673 non-null    int64
 10  MntGoldProds             673 non-null    float64
 11  NumDealsPurchases        673 non-null    int64
 12  NumWebPurchases          673 non-null    int64
 13  NumCatalogPurchases      673 non-null    int64
 14  NumStorePurchases        673 non-null    int64
 15  NumWebVisitsMonth        673 non-null    int64
 16  AcceptedCmp3             673 non-null    int64
 17  AcceptedCmp4             673 non-null    int64
 18  AcceptedCmp5             673 non-null    int64
 19  AcceptedCmp1             673 non-null    int64
 20  AcceptedCmp2             673 non-null    int64
 21  Complain                 673 non-null    int64
 22  Z_CostContact            673 non-null    int64
 23  Z_Revenue                673 non-null    int64
 24  Age                      673 non-null    int64
 25  Education_Basic          673 non-null    bool
 26  Education_Graduation     673 non-null    bool
 27  Education_Master         673 non-null    bool
 28  Education_PhD            673 non-null    bool
 29  Marital_Status_Divorced  673 non-null    bool
 30  Marital_Status_Married   673 non-null    bool
 31  Marital_Status_Single    673 non-null    bool
 32  Marital_Status_Together  673 non-null    bool
 33  Marital_Status_Widow     673 non-null    bool
 34  Marital_Status_YOLO      673 non-null    bool
dtypes: bool(10), float64(4), int64(20), object(1)
memory usage: 138.1+ KB

In [47]:
test_df = test_df.drop('Dt_Customer', axis = 1)

In [48]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   673 non-null    float64
 1   Kidhome                  673 non-null    int64
 2   Teenhome                 673 non-null    int64
 3   Recency                  673 non-null    int64
 4   MntWines                 673 non-null    float64
 5   MntFruits                673 non-null    int64
 6   MntMeatProducts          673 non-null    float64
 7   MntFishProducts          673 non-null    int64
 8   MntSweetProducts         673 non-null    int64
 9   MntGoldProds             673 non-null    float64
 10  NumDealsPurchases        673 non-null    int64
 11  NumWebPurchases          673 non-null    int64
 12  NumCatalogPurchases      673 non-null    int64
 13  NumStorePurchases        673 non-null    int64
 14  NumWebVisitsMonth        673 non-null    int64
 15  AcceptedCmp3             673 non-null    int64
 16  AcceptedCmp4             673 non-null    int64
 17  AcceptedCmp5             673 non-null    int64
 18  AcceptedCmp1             673 non-null    int64
 19  AcceptedCmp2             673 non-null    int64
 20  Complain                 673 non-null    int64
 21  Z_CostContact            673 non-null    int64
 22  Z_Revenue                673 non-null    int64
 23  Age                      673 non-null    int64
 24  Education_Basic          673 non-null    bool
 25  Education_Graduation     673 non-null    bool
 26  Education_Master         673 non-null    bool
 27  Education_PhD            673 non-null    bool
 28  Marital_Status_Divorced  673 non-null    bool
 29  Marital_Status_Married   673 non-null    bool
 30  Marital_Status_Single    673 non-null    bool
 31  Marital_Status_Together  673 non-null    bool
 32  Marital_Status_Widow     673 non-null    bool
 33  Marital_Status_YOLO      673 non-null    bool
dtypes: bool(10), float64(4), int64(20)
memory usage: 132.9 KB

In [49]:
test_df['Marital_Status_Alone'] = test_df['Marital_Status_YOLO']

In [50]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   673 non-null    float64
 1   Kidhome                  673 non-null    int64
 2   Teenhome                 673 non-null    int64
 3   Recency                  673 non-null    int64
 4   MntWines                 673 non-null    float64
 5   MntFruits                673 non-null    int64
 6   MntMeatProducts          673 non-null    float64
 7   MntFishProducts          673 non-null    int64
 8   MntSweetProducts         673 non-null    int64
 9   MntGoldProds             673 non-null    float64
 10  NumDealsPurchases        673 non-null    int64
 11  NumWebPurchases          673 non-null    int64
 12  NumCatalogPurchases      673 non-null    int64
 13  NumStorePurchases        673 non-null    int64
 14  NumWebVisitsMonth        673 non-null    int64
 15  AcceptedCmp3             673 non-null    int64
 16  AcceptedCmp4             673 non-null    int64
 17  AcceptedCmp5             673 non-null    int64
 18  AcceptedCmp1             673 non-null    int64
 19  AcceptedCmp2             673 non-null    int64
 20  Complain                 673 non-null    int64
 21  Z_CostContact            673 non-null    int64
 22  Z_Revenue                673 non-null    int64
 23  Age                      673 non-null    int64
 24  Education_Basic          673 non-null    bool
 25  Education_Graduation     673 non-null    bool
 26  Education_Master         673 non-null    bool
 27  Education_PhD            673 non-null    bool
 28  Marital_Status_Divorced  673 non-null    bool
 29  Marital_Status_Married   673 non-null    bool
 30  Marital_Status_Single    673 non-null    bool
 31  Marital_Status_Together  673 non-null    bool
 32  Marital_Status_Widow     673 non-null    bool
 33  Marital_Status_YOLO      673 non-null    bool
 34  Marital_Status_Alone     673 non-null    bool
dtypes: bool(11), float64(4), int64(20)
memory usage: 133.5 KB

In [51]:
test_df = test_df.drop('Marital_Status_YOLO', axis = 1)

In [52]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   673 non-null    float64
 1   Kidhome                  673 non-null    int64
 2   Teenhome                 673 non-null    int64
 3   Recency                  673 non-null    int64
 4   MntWines                 673 non-null    float64
 5   MntFruits                673 non-null    int64
 6   MntMeatProducts          673 non-null    float64
 7   MntFishProducts          673 non-null    int64
 8   MntSweetProducts         673 non-null    int64
 9   MntGoldProds             673 non-null    float64
 10  NumDealsPurchases        673 non-null    int64
 11  NumWebPurchases          673 non-null    int64
 12  NumCatalogPurchases      673 non-null    int64
 13  NumStorePurchases        673 non-null    int64
 14  NumWebVisitsMonth        673 non-null    int64
 15  AcceptedCmp3             673 non-null    int64
 16  AcceptedCmp4             673 non-null    int64
 17  AcceptedCmp5             673 non-null    int64
 18  AcceptedCmp1             673 non-null    int64
 19  AcceptedCmp2             673 non-null    int64
 20  Complain                 673 non-null    int64
 21  Z_CostContact            673 non-null    int64
 22  Z_Revenue                673 non-null    int64
 23  Age                      673 non-null    int64
 24  Education_Basic          673 non-null    bool
 25  Education_Graduation     673 non-null    bool
 26  Education_Master         673 non-null    bool
 27  Education_PhD            673 non-null    bool
 28  Marital_Status_Divorced  673 non-null    bool
 29  Marital_Status_Married   673 non-null    bool
 30  Marital_Status_Single    673 non-null    bool
 31  Marital_Status_Together  673 non-null    bool
 32  Marital_Status_Widow     673 non-null    bool
 33  Marital_Status_Alone     673 non-null    bool
dtypes: bool(10), float64(4), int64(20)
memory usage: 132.9 KB

In [53]:
test_df = test_df[X_train.columns]

In [54]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Income                   673 non-null    float64
 1   Kidhome                  673 non-null    int64
 2   Teenhome                 673 non-null    int64
 3   Recency                  673 non-null    int64
 4   MntWines                 673 non-null    float64
 5   MntFruits                673 non-null    int64
 6   MntMeatProducts          673 non-null    float64
 7   MntFishProducts          673 non-null    int64
 8   MntSweetProducts         673 non-null    int64
 9   MntGoldProds             673 non-null    float64
 10  NumDealsPurchases        673 non-null    int64
 11  NumWebPurchases          673 non-null    int64
 12  NumCatalogPurchases      673 non-null    int64
 13  NumStorePurchases        673 non-null    int64
 14  NumWebVisitsMonth        673 non-null    int64
 15  AcceptedCmp3             673 non-null    int64
 16  AcceptedCmp4             673 non-null    int64
 17  AcceptedCmp5             673 non-null    int64
 18  AcceptedCmp1             673 non-null    int64
 19  AcceptedCmp2             673 non-null    int64
 20  Complain                 673 non-null    int64
 21  Z_CostContact            673 non-null    int64
 22  Z_Revenue                673 non-null    int64
 23  Age                      673 non-null    int64
 24  Education_Basic          673 non-null    bool
 25  Education_Graduation     673 non-null    bool
 26  Education_Master         673 non-null    bool
 27  Education_PhD            673 non-null    bool
 28  Marital_Status_Alone     673 non-null    bool
 29  Marital_Status_Divorced  673 non-null    bool
 30  Marital_Status_Married   673 non-null    bool
 31  Marital_Status_Single    673 non-null    bool
 32  Marital_Status_Together  673 non-null    bool
 33  Marital_Status_Widow     673 non-null    bool
dtypes: bool(10), float64(4), int64(20)
memory usage: 132.9 KB

In [56]:
# Assuming you already did this for training
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

# Now just transform the test set
X_test_scaled = scaler.transform(test_df)

In [58]:
y_pred = nn_model.predict(X_test_scaled)

22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [61]:
#Submission in kaggle
id = pd.read_csv('/content/test.csv')['ID']

In [63]:
id.shape

(673,)

In [64]:
y_pred.shape

(673, 1)

In [65]:
submission = pd.DataFrame({
    'ID': id,  # use the original untouched test data
    'Target': y_pred.ravel()
})

submission.to_csv('submission.csv', index=False)